.hello-world {
    text-align: center;
    font-family: monospace;
    color: chocolate;
    text-shadow: rosybrown 2px 2px;
}

.sum-result-container {
    justify-self: center;
    border: 2px solid gainsboro;
    border-radius: 10px;
    text-align: center;
    padding: 10px 40px;
}
.sum-result-container h3 {
    color: gold;
    text-shadow: 1px 1px black;
}